main {
  margin: 0px 100px;
}

#main-nav {
  display: flex;
  background-color: darkgrey;
  align-items: center;
  padding: 10px 10px 10px 50px;
  font-family: Arial, Helvetica, sans-serif; 
}

h1 {
  font-family: Arial, Helvetica, sans-serif; 
}

ul li{
 display: inline;
 padding: 10px;
 margin-left: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif; 
  font-style: italic;
  line-height: 1.4em;
}

div {
  margin: 15px;
}

section {
  height: 400px;
  overflow: scroll;
  padding-left: 30px;
  width: 30%;
}

#float-image {
  float: left;
}

#parent-relative {
  position: relative;
}

#bottom-image {
  background-color: yellow;
  width: 480px;
  height: 400px;
  float: left;
  margin: 0px;
}

button {
  top: 355px;
  position: absolute;
  padding: 15px;
  background-color: black;
  color: white;
  transition-delay: 350;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#hero{
  width: 960px;
  height: 450px;
  background-color: blue;
}

.mid-images{
  width: 300px;
  height: 375px;
  background-color: red;
  display: inline-block;
}

footer {
  width: 100%;
  margin-top: 60px;
  background-color: darkgrey;
  height: 60px;
}
